{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    <div class="header">
        <nav>
            <div class="nav-left">
                <a href="{% url 'recipe_list' %}">Main page</a>
            </div>
            <div class="nav-right">
                {% if user.is_authenticated %}
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a>Hello, {{ user.username }}</a>
                <a href="{% url 'user_logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'user_login' %}">Login</a>
                {% endif %}
            </div>
        </nav>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <p class="footTextAdj">Made with love by Scrumptious Recipes</p>
    </div>
</body>
</html>
