{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ recipe_object.title }} -
        Scrumptious Recipes
      </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    <div class="header">
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>

        </nav>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
    <div class="footer">
        Made with love by Scrumptious Recipes
    </div>
</body>
</html>
