{% extends "recipes/base.html" %}

{% block title %}{{ recipe_object.title }}{% endblock %}

{% block content %}
  <div class="recipe-title">
    <a class="recipe-title-for-section">{{ recipe_object.title }}</a>
    <a class="ml-6" href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
  </div>
  <div class="recipe-image">
    <img src="{{ recipe_object.picture }}" alt="{{ recipe_object.title }}">
  </div>
  <div class="rating">
    <p>4.3 stars</p>
  </div>
  <div class="description">
    <p>{{ recipe_object.description }}</p>
  </div>
  <div class="Ingredients">
    <h1>Ingredients</h1>
    <table>
      {% for ingredient in recipe_object.ingredients.all %}
      <tr>
        <td>{{ ingredient.amount }}</td>
        <td>{{ ingredient.food_item }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="steps">
    <h1>Instructions</h1>
    <ol>
      {% for step in recipe_object.steps.all %}
      <li>{{ step.instruction }}</li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}
