<!-- recipes/templates/edit.html -->
{% extends "recipes/base.html" %}

{% block title %}{{ recipe_object.title }} - Edit Recipe{% endblock %}

{% block content %}
  <h1 class="title">Edit this post</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button is-primary">Save</button>
  </form>
{% endblock %}
