<!-- recipes/templates/list.html -->
{% extends "recipes/base.html" %}

{% block title %}Vegetarian Tacos{% endblock %}

{% block content %}
  <div class="sectionHead">
    <h1 class="scrum">Scrumptious Recipes</h1>
    <h2 class="headDesc">All the food that's fit to eat</h2>
  </div>
  <div class="recipe-grid">
    {% for recipe in recipe_list %}
    <div class="recipe-card">
      <div class="recipe-title">
        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
      </div>
      <div class="recipe-image">
        <img src="{{ recipe.picture }}" alt="Vegetarian Tacos">
      </div>
      <div class="rating">
        4.3 stars
      </div>
      <div class="dateCreate">
        <p>{{ recipe.created_on|date:"M. d, Y, P" }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
