body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
main {
    padding: 16px;
}
.container {
    margin: auto;
    padding: 16px;
}
.header{
    background-color: #ff5a34;
}
a{
    text-decoration: none;
}
.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.recipe-title a{
    font-size: 1.5em;

    color: #44803f;
}
nav {
    border-bottom: black solid 1px;
    padding: 16px;
}
.recipe-image img {
    height: 200px;

    border-radius: 10px;
}
.rating {
    font-size: 1em;

}
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.recipe-card {

    padding: 16px;

}
.footer {
    padding: 24px 0;
    font-size: 0.9em;
    margin-top: 20px;
    background-color: #b5cf66;
    font-weight: bold;
}
.scrum{
    font-size: 2.5em;
    color: #44803f;
    font-weight: bold;
}
.headDesc{
    font-weight: bold;
    font-size: 1.5em;
}
.footTextAdj{
    margin-left: 30px;
}
.recipe-title-for-section{
    font-size: xx-large;
    font-weight: bold;
}

.ingredients tr:nth-child(odd):not(:first-child) {
    background-color: #f2f2f2;
}
