body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

main {
    padding: 16px;
    height:500px;
}

.container {
    margin: auto;
    padding: 16px;
    background-image: url('https://freefrontend.com//assets/img/css-triangle-backgrounds/thumb.png');
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #a8dadc; /* Light pastel blue */
    padding: 20px;
    text-align: center;
   color:white; /* Dark blue for text contrast */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #1d3557;
    padding: 16px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin: 0 10px;
}

.nav-right a:hover {
    color: gray; /* Slightly lighter blue on hover */
}
main{
    color:white;
}
.recipe-title a {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.recipe-title a:hover {
   color:black;
}

.recipe-image img {
    height: 25%; /* Larger image */
    width: 75%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.recipe-image img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.rating {
    color:white;
    font-size: 1em;
    margin: 10px 0;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    background-image: url('https://freefrontend.com//assets/img/css-triangle-backgrounds/thumb.png'); /* Add your background pattern image */
    padding: 20px;
    border-radius: 8px;
}

.recipe-card {
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.footer {
    padding: 24px 0;
    font-size: 0.9em;

    background-color: #ffcdc1; /* Light pastel peach */
   color:white; /* Dark blue for text contrast */
    font-weight: bold;
    text-align: center;
}

.scrum {
    font-size: 2.5em;
    color: white;
    font-weight: bold;
}

.headDesc {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.footTextAdj {
    margin-left: 30px;
}

.recipe-title-for-section {
    font-size: xx-large;
    font-weight: bold;
}

.description, .Ingredients, .steps {
    margin: 20px 0;
    padding: 16px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.ingredients tr:nth-child(odd):not(:first-child) {
    background-color: #f2f2f2;
}
